*{
    box-sizing: border-box;
}
body{
    margin: 0;
    border: 0;
    background-color: plum  ;
}
.ola{
    text-align: center;
}
    background-size: cover;
    background-position: center;
    
}
