*{
    box-sizing: border-box;
}
body{
    margin: 0;
    border: 0;
    background-color: plum  ;
}
.ola{
    text-align: center;
}
.alo{
    height: 1500px;
    width: 100%;
    background-image: url(../imagen/f768x1-944170_944297_214.jpg);
    border: 2px solid pink;
    
    background-size: cover;
    background-position: center;
    
}
